<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css" ></link>
    <title>Home</title>
</head>
<body>
    <h1> Welcome to my Weather App!</h1>
    <form action="/" method="POST">
        <input type="text" for="country" name="Country" placeholder="Enter Country"></input>
        <div>
            <input type="text" for="city" name="city" placeholder="Enter City">  </input>
        </div>
        <div>
            <input type="text" for="TempUnit" name="TempUnit" placeholder="Enter the Unit">  </input>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>