h1 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: black;
    border: 1px black solid;
    color: rgb(133, 129, 129);
}
form{
    text-align: center; margin-top: 80px;
}